
@font-face {
	font-family: 'Cambria Math';
	panose-1: 2 4 5 3 5 4 6 3 2 4;
}
@font-face {
	font-family: Calibri;
	panose-1: 2 15 5 2 2 2 4 3 2 4;
}
p.MsoNormal,
li.MsoNormal,
div.MsoNormal {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 8pt;
	margin-left: 0cm;
	line-height: 107%;
	font-size: 11pt;
	font-family: 'Calibri', sans-serif;
}
.MsoChpDefault {
	font-family: 'Calibri', sans-serif;
}
.MsoPapDefault {
	margin-bottom: 8pt;
	line-height: 107%;
}
@page WordSection1 {
	size: 595.3pt 841.9pt;
	margin: 2cm 42.5pt 2cm 3cm;
}
div.WordSection1 {
	page: WordSection1;
}
.WordSection1 {
  max-width: 835px;
	width: 695px;
	height: 942px;
	padding: 70px;
  background-color: #fff;
  /* border: 2px solid #000; */
   box-shadow:  0 0 10px #00000047;
   transform: scale(0.9);
  }
  /* .MsoTableGrid {
    margin: 0 auto;
  } */
  imput::-ms-value{
    text-transform: uppercase;
  }
  
  body{
    background-color: rgb(152, 193, 236);
  }
  
  .containerr{
    width: 100%;
    display: flex;
    /* flex-direction: row-reverse; */
  } 
  .left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .left_container{
    position: relative;
    width: 350px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow:  0 0 10px #00000047;
    border-radius: 10px;
    row-gap: 20px;
}
.restBtn{
  position: absolute;
  right: -10px;
  top: -10px;
}

